.banner {
    color: rgba(41, 40, 40, 0.911);
    height: 600px;
    background-image: url("../../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 1360px 600px;
    padding-left: 80px;
}
